
@charset "utf-8";
// customize bulma css
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/colors";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/customize-bulma";

// Third party CSS
@import "../../../../../node_modules/bulma/bulma.sass";


// BASE
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/all";

// COMPONENTS
// @import "@/components/vue-components/styles/components/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/button";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/navbar/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/sidebar/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/header/header";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/header/header-item";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/table";


  // default layout css
.ac-system-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 250px calc(100% - 250px);
    padding-top: 50px;
    transition: 0.3s ease-in-out;

    &.sidebar-collapsed{
      grid-template-columns: 60px calc(100% - 60px);
    }
  
    &.is-fullwidth {
      grid-template-columns: auto !important;
    }
  }

  body:has(.sidebar-collapsed){
    .ac-navbar-area.is-full{
      .ac-navbar {
        grid-template-columns: 300px auto auto;
        .ac-navbar-brand {
          padding-left: 76px !important;
        }
      }
    }
  }

.kube-bind-form {
    .icon {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        height: auto;
        background-color: #EDF5FD;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        img {
            width: 24px;
            height: auto;
        }
    }
    td{
      vertical-align: middle;
      h6{
        font-weight: 500;
      }
      .icon {
         width: 36px;
         height: 36px;
         margin-bottom: 0;
         img {
            width: 18px;
            height: auto;
         }
      }
   }
}
@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 1152px;
  }
}
  
 ul {
    margin-bottom: 8px;
    
}

.kube-bind-inner input[type="checkbox"]:checked + label.single-card{
    border: 2px solid $ac-primary;
}

.kube-bind-inner input[type="checkbox"]:disabled + label.single-card{
    cursor: not-allowed;
    opacity: 0.6;
}
.single-card {
    cursor: pointer;
    border: 1px solid #e7e7e7;
    transition: 0.3s ease-in-out;
    display: block;
    padding: 16px;
    border-radius: 4px;
}
.single-card:hover {
    border: 1px solid #e7e7e7;
}
