@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
 .input, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
 .input:focus, .button:focus, .input:active, .button:active, .is-active.input, .is-active.button {
  outline: none;
}
 [disabled].input, [disabled].button {
  cursor: not-allowed;
}

 .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 .title:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .content:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Bulma Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ul,
li,
figure,
h1,
h4,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h4,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header {
  display: block;
}

body,
button,
input {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  color: hsl(0, 0%, 29%);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: hsl(229, 53%, 53%);
  cursor: pointer;
  text-decoration: none;
}
a strong {
  color: currentColor;
}
a:hover {
  color: hsl(0, 0%, 21%);
}

img {
  height: auto;
  max-width: 100%;
}

input[type=checkbox] {
  vertical-align: baseline;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: hsl(0, 0%, 21%);
  font-weight: 700;
}

table td,
table th {
  vertical-align: top;
}
table td:not([align]),
table th:not([align]) {
  text-align: inherit;
}
table th {
  color: hsl(0, 0%, 21%);
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Bulma Elements */

.button {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 86%);
  border-width: 1px;
  color: hsl(0, 0%, 21%);
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
.button strong {
  color: inherit;
}
.button .icon {
  height: 1.5em;
  width: 1.5em;
}
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
}
.button .icon:last-child:not(:first-child) {
  margin-left: 0.25em;
  margin-right: calc(-0.5em - 1px);
}
.button .icon:first-child:last-child {
  margin-left: calc(-0.5em - 1px);
  margin-right: calc(-0.5em - 1px);
}
.button:hover {
  border-color: hsl(0, 0%, 71%);
  color: hsl(0, 0%, 21%);
}
.button:focus {
  border-color: hsl(229, 53%, 53%);
  color: hsl(0, 0%, 21%);
}
.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}
.button:active, .button.is-active {
  border-color: hsl(0, 0%, 29%);
  color: hsl(0, 0%, 21%);
}
.button.is-light {
  background-color: hsl(0, 0%, 96%);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light:hover {
  background-color: #eeeeee;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}
.button.is-light:active, .button.is-light.is-active {
  background-color: #e8e8e8;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.button.is-light[disabled] {
  background-color: hsl(0, 0%, 96%);
  border-color: hsl(0, 0%, 96%);
  box-shadow: none;
}
.button.is-primary {
  background-color: hsl(171, 100%, 41%);
  border-color: transparent;
  color: #fff;
}
.button.is-primary:hover {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}
.button.is-primary:focus {
  border-color: transparent;
  color: #fff;
}
.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
.button.is-primary:active, .button.is-primary.is-active {
  background-color: #00b89c;
  border-color: transparent;
  color: #fff;
}
.button.is-primary[disabled] {
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  box-shadow: none;
}
.button.is-primary.is-light {
  background-color: var(--primary-light);
  color: #00947e;
}
.button.is-primary.is-light:hover {
  background-color: var(--primary-light);
  border-color: transparent;
  color: #00947e;
}
.button.is-primary.is-light:active, .button.is-primary.is-light.is-active {
  background-color: var(--primary-light);
  border-color: transparent;
  color: #00947e;
}
.button[disabled] {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 86%);
  box-shadow: none;
  opacity: 0.5;
}
.button.is-fullwidth {
  display: flex;
  width: 100%;
}
.button.is-rounded {
  border-radius: 9999px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
}

.content li + li {
  margin-top: 0.25em;
}
.content p:not(:last-child),
.content ul:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}
.content h1,
.content h4,
.content h6 {
  color: hsl(0, 0%, 21%);
  font-weight: 600;
  line-height: 1.125;
}
.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.content h1:not(:first-child) {
  margin-top: 1em;
}
.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}
.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}
.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}
.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}
.content ul ul ul {
  list-style-type: square;
}
.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}
.content figure:not(:first-child) {
  margin-top: 2em;
}
.content figure:not(:last-child) {
  margin-bottom: 2em;
}
.content figure img {
  display: inline-block;
}
.content table {
  width: 100%;
}
.content table td,
.content table th {
  border: 1px solid hsl(0, 0%, 86%);
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
.content table th {
  color: hsl(0, 0%, 21%);
}
.content table th:not([align]) {
  text-align: inherit;
}
.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: hsl(0, 0%, 21%);
}
.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}
.image img.is-rounded {
  border-radius: 9999px;
}
.image.is-fullwidth {
  width: 100%;
}

@keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
.table {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 21%);
}
.table td,
.table th {
  border: 1px solid hsl(0, 0%, 86%);
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
.table td.is-light,
.table th.is-light {
  background-color: hsl(0, 0%, 96%);
  border-color: hsl(0, 0%, 96%);
  color: rgba(0, 0, 0, 0.7);
}
.table td.is-primary,
.table th.is-primary {
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  color: #fff;
}
.table th {
  color: hsl(0, 0%, 21%);
}
.table th:not([align]) {
  text-align: left;
}
.table thead {
  background-color: transparent;
}
.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: hsl(0, 0%, 21%);
}
.table tbody {
  background-color: transparent;
}
.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0;
}
.table.is-bordered td,
.table.is-bordered th {
  border-width: 1px;
}
.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}
.table.is-fullwidth {
  width: 100%;
}

.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tags:last-child {
  margin-bottom: -0.5rem;
}
.tags:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  word-break: break-word;
}

.title span {
  font-weight: inherit;
}

.title {
  color: hsl(0, 0%, 21%);
  font-size: 1.692rem;
  font-weight: 600;
  line-height: 1.125;
}
.title strong {
  color: inherit;
  font-weight: inherit;
}

/* Bulma Form */
 .input {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 86%);
  border-radius: 4px;
  color: hsl(0, 0%, 21%);
}
 .input::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
 .input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
 .input:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
 .input:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
 .input:hover {
  border-color: hsl(0, 0%, 71%);
}
 .input:focus, .input:active, .is-active.input {
  border-color: hsl(229, 53%, 53%);
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}
 [disabled].input {
  background-color: hsl(0, 0%, 96%);
  border-color: hsl(0, 0%, 96%);
  box-shadow: none;
  color: hsl(0, 0%, 48%);
}
 [disabled].input::-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
 [disabled].input::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
 [disabled].input:-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
 [disabled].input:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

 .input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
}
 .is-light.input {
  border-color: hsl(0, 0%, 96%);
}
 .is-light.input:focus, .is-light.input:active, .is-light.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}
 .is-primary.input {
  border-color: hsl(171, 100%, 41%);
}
 .is-primary.input:focus, .is-primary.input:active, .is-primary.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
 .is-fullwidth.input {
  display: block;
  width: 100%;
}

.input.is-rounded {
  border-radius: 9999px;
  padding-left: calc(calc(0.75em - 1px) + 0.375em);
  padding-right: calc(calc(0.75em - 1px) + 0.375em);
}

 .checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}
 .checkbox input {
  cursor: pointer;
}
 .checkbox:hover {
  color: hsl(0, 0%, 21%);
}
 [disabled].checkbox,
.checkbox input[disabled] {
  color: hsl(0, 0%, 48%);
  cursor: not-allowed;
}

.label {
  color: hsl(0, 0%, 21%);
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}

/* Bulma Components */

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}
.media .content:not(:last-child) {
  margin-bottom: 0.75rem;
}
.media .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  display: flex;
  padding-top: 0.75rem;
}
.media .media .content:not(:last-child),
.media .media .control:not(:last-child) {
  margin-bottom: 0.5rem;
}
.media .media .media {
  padding-top: 0.5rem;
}
.media .media .media + .media {
  margin-top: 0.5rem;
}
.media + .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem;
}

.media-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-left {
  margin-right: 1rem;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto;
  }
}
.menu {
  font-size: 1rem;
}

.menu-list {
  line-height: 1.25;
}
.menu-list a {
  border-radius: 2px;
  color: hsl(0, 0%, 29%);
  display: block;
  padding: 0.5em 0.75em;
}
.menu-list a:hover {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 21%);
}
.menu-list a.is-active {
  background-color: hsl(229, 53%, 53%);
  color: #fff;
}
.menu-list li ul {
  border-left: 1px solid hsl(0, 0%, 86%);
  margin: 0.75em;
  padding-left: 0.75em;
}

.navbar {
  background-color: hsl(0, 0%, 100%);
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
.navbar.is-light {
  background-color: hsl(0, 0%, 96%);
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-primary {
  background-color: hsl(171, 100%, 41%);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 3.25rem;
  }
}

/* Bulma Grid */
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
@media screen and (max-width: 768px) {
  .column.is-full-mobile {
    flex: none;
    width: 100%;
  }
}
@media screen and (min-width: 769px), print {
  .column.is-full {
    flex: none;
    width: 100%;
  }
   .column.is-half-tablet {
    flex: none;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .column.is-one-third-desktop {
    flex: none;
    width: 33.3333%;
  }
}
@media screen and (min-width: 1216px) {
  .column.is-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }
}
@media screen and (min-width: 1408px) {
  .column.is-one-quarter-fullhd {
    flex: none;
    width: 25%;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}
.columns.is-multiline {
  flex-wrap: wrap;
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

/* Bulma Helpers */

.has-text-black-bis {
  color: hsl(0, 0%, 7%) !important;
}

.is-flex-direction-column {
  flex-direction: column !important;
}

.is-justify-content-space-between {
  justify-content: space-between !important;
}

.is-align-items-center {
  align-items: center !important;
}

.is-pulled-right {
  float: right !important;
}

.p-0 {
  padding: 0 !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.is-size-5 {
  font-size: 1.213rem !important;
}
.has-text-centered {
  text-align: center !important;
}
.is-capitalized {
  text-transform: capitalize !important;
}

.has-text-weight-medium {
  font-weight: 500 !important;
}

.has-text-weight-semibold {
  font-weight: 600 !important;
}
.is-flex {
  display: flex !important;
}
.is-hidden {
  display: none !important;
}
/* Bulma Layout */

.footer {
  background-color: hsl(0, 0%, 98%);
  padding: 3rem 1.5rem 6rem;
}

:root {
  --primary-hue: 149;
  --primary-saturation: 100%;
  --primary-light: 30%;
  --secondary-hue: 196;
  --secondary-saturation: 50%;
  --secondary-light: 20%;
}

html,
body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: hsl(var(--secondary-hue), 10%, 10%);
}

p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

h1,
h4,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: hsl(var(--secondary-hue), 10%, 10%);
}

h1 {
  font-size: 2.462rem;
}

h4 {
  font-size: 1.385rem;
}

h6 {
  font-size: 1rem;
}

.content h1,
.content h4,
.content h6 {
  color: hsl(var(--secondary-hue), 10%, 10%);
}
.content p {
  color: hsl(var(--secondary-hue), 10%, 35%);
}

a:not(.ac-button) {
  font-family: "Roboto", sans-serif;
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
}
a:not(.ac-button) p {
  color: hsl(var(--secondary-hue), 10%, 35%);
}
a:not(.ac-button):hover {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
}

strong {
  color: hsl(var(--secondary-hue), 10%, 35%);
}

.material-icons {
  font-size: 1em;
}

.is-fullwidth {
  width: 100%;
}

.is-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}

.ac-navbar-area .brand-tag {
  color: hsl(var(--secondary-hue), 10%, 10%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(var(--secondary-hue), 10%, 90%);
}

.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar .brand-tag {
  display: none;
}

.brand-tag {
  color: hsl(0, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  margin-left: 4px;
  padding: 4px;
  display: flex;
  line-height: 1;
  white-space: nowrap;
}

input[type=color] {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #777;
  margin-left: 3px;
  padding: 2px;
  cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

input[type=color]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ac-vscrollbar {
  padding: 15px;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
}
.ac-vscrollbar::-webkit-scrollbar {
  border-radius: 50px;
  width: 3px;
}
.ac-vscrollbar::-moz-scrollbar {
  border-radius: 50px;
  width: 3px;
}
.ac-vscrollbar::-ms-scrollbar {
  border-radius: 50px;
  width: 3px;
}
.ac-vscrollbar::-webkit-scrollbar:hover {
  width: 7px;
}
.ac-vscrollbar::-moz-scrollbar:hover {
  width: 7px;
}
.ac-vscrollbar::-ms-scrollbar:hover {
  width: 7px;
}
.ac-vscrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 50px;
  height: 2px !important;
}
.ac-vscrollbar::-moz-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 50px;
  height: 2px !important;
}
.ac-vscrollbar::-ms-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 50px;
  height: 2px !important;
}
.ac-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 80%);
}
.ac-vscrollbar::-moz-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 80%);
}
.ac-vscrollbar::-ms-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 80%);
}
.ac-vscrollbar:hover::-webkit-scrollbar-corner {
  height: 40px;
}
.ac-vscrollbar:hover::-moz-scrollbar-corner {
  height: 40px;
}
.ac-vscrollbar:hover::-ms-scrollbar-corner {
  height: 40px;
}

.ac-scrollbar {
  padding: 15px;
  transition: 0.3s ease-in-out;
  overflow: auto;
}
.ac-scrollbar::-webkit-scrollbar {
  border-radius: 50px;
  width: 3px;
}
.ac-scrollbar::-webkit-scrollbar:hover {
  width: 7px;
}
.ac-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 50px;
  width: 2px !important;
}
.ac-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 80%);
}
.ac-scrollbar:hover::-webkit-scrollbar-corner {
  width: 40px;
}

.is-transparent {
  border: none;
  background-color: transparent !important;
}

button:focus {
  box-shadow: none;
  outline: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

body:has(.has-info-content):after {
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  width: calc(100% - 550px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.gap-8 {
  gap: 8px;
}

/*  Margin & Padding view-height & view-width */

.p-0 {
  padding: 0px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

/* Deafult height & widht */

.height-30 {
  height: 30px !important;
}

.width-30 {
  width: 30px !important;
}

.height-32 {
  height: 32px !important;
}

.width-32 {
  width: 32px !important;
}

.width-60 {
  width: 60px !important;
}

/* Deafult z-index and font-weight*/

.ac-system-body {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 250px calc(100% - 250px);
  padding-top: 50px;
  transition: 0.3s ease-in-out;
}
.ac-system-body.is-fullwidth {
  grid-template-columns: auto !important;
}

.sidebar-collapsed .ac-system-body {
  grid-template-columns: 60px calc(100% - 60px);
}

.button {
  color: hsl(var(--secondary-hue), 10%, 35%);
  background-color: hsl(0, 0%, 100%);
}
.button.ac-button {
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1;
}
.button.ac-button.is-primary {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
}
.button.ac-button.is-primary:hover {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-light) - 3%));
}
.button.ac-button.is-primary.is-light {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
  background-color: hsl(var(--primary-hue), var(--primary-saturation), 95%);
}
.button.ac-button.is-primary.is-light:hover {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
}
.button.ac-button.is-primary.is-light:focus:not(:hover) {
  color: inherit;
}
.button.ac-button.is-primary.is-light:disabled:not(.is-outlined) {
  border-color: transparent;
}

button.is-primary {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
}

.ac-menu-item .ac-nav-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 99;
  user-select: none;
  border: 1px solid hsl(var(--secondary-hue), 10%, 80%);
  cursor: pointer;
}
.ac-menu-item .ac-nav-button:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.ac-menu-item .ac-nav-button:focus {
  box-shadow: none;
}
.ac-menu-item .ac-nav-button:hover:after {
  background-color: hsl(var(--secondary-hue), 10%, 90%);
}
.ac-menu-item.ac-profile-button {
  margin-right: 15px;
}
.ac-menu-item.ac-profile-button button.button.ac-nav-button {
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  font-weight: 500;
  border: none;
}
.ac-menu-item.ac-profile-button button.button.ac-nav-button::after {
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.ac-menu-item.ac-profile-button button.button.ac-nav-button .ac-user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid hsl(var(--secondary-hue), 10%, 90%);
}
.ac-menu-item.ac-profile-button button.button.ac-nav-button i.fa {
  padding-left: 8px;
}
.ac-menu-item .ac-menu-content {
  position: absolute;
  right: 0;
  top: 80px;
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;
  width: 260px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.ac-menu-item .ac-menu-content ul {
  background-color: hsl(0, 0%, 100%);
  padding: 0;
  overflow: hidden;
}
.ac-menu-item .ac-menu-content ul li a {
  display: block;
  padding: 8px 15px;
  color: hsl(var(--secondary-hue), 10%, 10%);
  transition: 0.3s ease-in-out;
  font-size: 13px;
}
.ac-menu-item .ac-menu-content ul li a:hover {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), 95%);
}
.ac-menu-item .ac-menu-content ul li a:hover p {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light)) !important;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid hsl(var(--secondary-hue), 10%, 90%);
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--secondary-hue), 10%, 90%);
  padding: 16px 16px;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area .profile-photo {
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-right: 10px;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area .profile-photo img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid #d2e7f9;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area .profile-photo .camera-icon {
  position: absolute;
  right: -10px;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area .profile-info p {
  color: hsl(var(--secondary-hue), 10%, 10%);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .profile-area .profile-info a {
  font-size: 1rem;
  color: hsl(var(--secondary-hue), 10%, 35%);
  line-height: 1.3;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .list-items {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .list-items li.is-close ul {
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.25s ease-out;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .list-items li.is-close ul.ac-vscrollbar {
  padding: 0;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .list-items li a {
  padding: 8px 16px;
  font-weight: 500;
  display: block;
  color: hsl(var(--secondary-hue), 10%, 10%);
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}
.ac-menu-item .ac-menu-content .user-profile-wrapper .list-items li a:hover {
  background-color: hsl(var(--primary-hue), 10%, 96%);
  color: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-light));
}
.ac-menu-item.is-active .ac-nav-button::after {
  background-color: hsl(var(--secondary-hue), 10%, 90%);
}
.ac-menu-item.is-active .ac-menu-content {
  opacity: 1;
  visibility: visible;
  top: 35px;
  z-index: 99;
}
.ac-menu-item.is-active .ac-menu-content::after {
  position: absolute;
  content: "";
  right: 38px;
  top: -6px;
  background-color: hsl(0, 0%, 100%);
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.16);
  z-index: -1;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper {
  position: absolute;
  border-radius: 4px;
  z-index: 99;
  right: 0px;
  top: 40px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer {
  border-radius: 4px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(var(--secondary-hue), 10%, 90%);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li {
  display: block;
  font-size: 13px;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a {
  display: block;
  color: hsl(var(--secondary-hue), 10%, 10%) !important;
  padding: 10px 20px !important;
  font-size: 13px !important;
  transition: 0.2s;
  border-bottom: 1px solid hsl(var(--secondary-hue), 10%, 90%);
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a:hover {
  background-color: hsl(var(--primary-hue), 10%, 96%) !important;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a span {
  margin-top: -3px;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a:hover .media-content .content p {
  color: hsl(var(--secondary-hue), 10%, 35%);
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a .media .media-left .image img {
  height: 24px;
  width: auto;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a .media .media-content {
  overflow: hidden;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a .media .media-content .content p {
  vertical-align: middle;
  line-height: 1;
  transition: 0.3s;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a .media .media-content .content p strong {
  font-weight: 600;
  font-size: 14px;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li a .media .media-content .content p span {
  display: block;
  font-size: 13px;
  margin-top: 4px;
  line-height: 150%;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li:hover > a {
  background-color: hsl(0, 0%, 100%);
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li:first-child:hover > a {
  border-radius: 4px 4px 0 0;
}
.ac-menu-item .ac-menu-content.navbar-dropdown-wrapper ul.app-drawer li:last-child:hover > a {
  border-radius: 0 0 4px 4px;
}

.ac-navbar-area {
  position: fixed;
  margin-left: 250px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: hsl(var(--secondary-hue), 10%, 96%);
  border-bottom: 1px solid hsl(var(--secondary-hue), 10%, 90%);
}
.ac-navbar-area.is-full {
  margin-left: 0;
}
.ac-navbar-area.is-full .ac-navbar {
  grid-template-columns: 250px auto auto;
  width: 100%;
  gap: 20px;
}
.ac-navbar-area.is-full .ac-navbar .ac-navbar-brand {
  padding-left: 15px;
}
.ac-navbar-area .ac-navbar {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  align-items: center;
  width: calc(100% - 255px);
  height: 50px;
}
.ac-navbar-area .ac-navbar .ac-navbar-brand {
  display: flex;
  align-items: center;
}
.ac-navbar-area .ac-navbar .ac-navbar-brand a {
  display: flex;
}
.ac-navbar-area .ac-navbar .ac-navbar-brand .logo {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.ac-navbar-area .ac-navbar .ac-navbar-brand img {
  max-height: 30px;
}
.ac-navbar-area .ac-navbar .ac-navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ac-navbar-area .ac-navbar .ac-navbar-menu .ac-menu-item {
  position: relative;
  z-index: 1;
  margin-left: 8px;
}
.ac-navbar-area .ac-navbar .ac-navbar-menu .ac-menu-item:first-child {
  margin-left: 0;
}

.sidebar-collapsed .ac-navbar .ac-navbar-brand {
  padding-left: 70px !important;
}

.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper {
  background-color: hsl(var(--secondary-hue), 10%, 96%);
}
.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper .ac-left-sidebar .sidebar-header {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper .ac-left-sidebar .sidebar-footer {
  border-top: 1px solid rgba(1, 1, 1, 0.1);
}
.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a {
  color: hsl(var(--secondary-hue), 10%, 10%);
}
.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a span img {
  filter: brightness(1);
}
.ac-system-left-sidebar.is-light .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a strong {
  color: hsl(var(--secondary-hue), 10%, 35%);
}

.ac-left-sidebar-wrapper {
  position: fixed;
  top: 0px;
  z-index: 99999;
  background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--sidebar-light, 5%));
  width: 250px;
  transition: 0.3s ease-in-out;
}

.ac-left-sidebar .menu-list.ac-menu-list {
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding-top: 4px;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  /* width */
}
.ac-left-sidebar .menu-list.ac-menu-list::-webkit-scrollbar {
  display: none;
}
.ac-left-sidebar .menu-list.ac-menu-list::-webkit-scrollbar {
  display: none;
}
.ac-left-sidebar .menu-list.ac-menu-list li a {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
  padding: 10px 15px 10px 24px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.ac-left-sidebar .menu-list.ac-menu-list li a:after {
  position: absolute;
  content: "";
  left: 10px;
  top: 0;
  width: calc(100% - 20px);
  height: 100%;
  background: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
  border-radius: 4px;
  z-index: -1;
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.ac-left-sidebar .menu-list.ac-menu-list li a strong {
  max-width: calc(100% - 65px);
  line-break: auto;
  white-space: break-spaces;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.ac-left-sidebar .menu-list.ac-menu-list li a.ac-dropdown-button {
  user-select: none;
}
.ac-left-sidebar .menu-list.ac-menu-list li a:hover {
  background-color: transparent;
}
.ac-left-sidebar .menu-list.ac-menu-list li a:hover:after {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
  opacity: 0.2;
  visibility: visible;
}
.ac-left-sidebar .menu-list.ac-menu-list li a:hover span {
  color: hsl(0, 0%, 100%);
}
.ac-left-sidebar .menu-list.ac-menu-list li a:hover span img {
  filter: brightness(10);
}
.ac-left-sidebar .menu-list.ac-menu-list li a span {
  margin-right: 12px;
  width: 16px;
  height: 16px;
  color: hsl(0, 0%, 30%);
  font-size: 16px;
}
.ac-left-sidebar .menu-list.ac-menu-list li a span img {
  width: 100%;
  filter: brightness(10);
  transition: 0.3s ease-in-out;
}
.ac-left-sidebar .menu-list.ac-menu-list li ul {
  margin: 0;
  padding: 0;
  border-left: none;
  overflow: hidden;
}
.ac-left-sidebar .menu-list.ac-menu-list li ul li a {
  padding-left: 52px;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ac-left-sidebar .menu-list a.is-active {
  background-color: transparent;
}
.ac-left-sidebar .menu-list a.is-active::after {
  opacity: 1 !important;
  visibility: visible !important;
}

.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper {
  width: 60px;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a span {
  margin: 0;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li a strong {
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  transition: 0.3s ease-in-out;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .ac-left-sidebar .menu-list.ac-menu-list li ul li a {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header {
  padding: 6px 20px;
  border-bottom: 1px solid hsl(var(--secondary-hue), 10%, 90%);
  position: sticky;
  background: hsl(0, 0%, 100%);
  z-index: 99;
}

.header-item {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}
.header-item:first-child {
  margin-left: 0;
}

.table-container.ac-table-container {
  margin-bottom: 8px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.table-container.ac-table-container::-webkit-scrollbar {
  height: 7px;
}
.table-container.ac-table-container::-webkit-scrollbar-track {
  background-color: #d1d4de;
  border-radius: 10px;
}
.table-container.ac-table-container::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 70%);
  border-radius: 10px;
}
.table-container.ac-table-container::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 60%);
}

.table.ac-table {
  background-color: transparent;
  margin-bottom: 0;
}
.table.ac-table thead {
  font-size: 13px;
  line-height: initial;
}
.table.ac-table thead tr {
  border-bottom: 1px solid hsl(var(--secondary-hue), 40%, 95%);
}
.table.ac-table thead tr th {
  padding: 10px 20px;
  color: hsl(var(--secondary-hue), 10%, 10%);
  border: none;
  font-weight: 500;
  font-weight: 500;
}
.table.ac-table tbody tr {
  border-bottom: 1px solid hsl(var(--secondary-hue), 10%, 90%);
  transition: 0.3s ease-in-out;
}
.table.ac-table tbody tr.is-hoverless {
  box-shadow: none !important;
  transform: none !important;
  background-color: hsl(0, 0%, 100%) !important;
}
.table.ac-table tbody tr td {
  font-size: 13px;
  padding: 5px 20px;
  color: hsl(var(--secondary-hue), 10%, 10%);
  border: none;
  white-space: nowrap;
}
.table.ac-table tbody tr td a:not(.tag a) {
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
  font-weight: 500 !important;
  transition: 0.3s ease-in-out;
  font-weight: 400;
}
.table.ac-table.is-bordered thead tr th {
  background-color: hsl(var(--secondary-hue), 10%, 96%);
  border-top: 1px solid hsl(var(--secondary-hue), 40%, 95%);
  border-bottom: 1px solid hsl(var(--secondary-hue), 40%, 95%);
  border-right: 1px solid hsl(var(--secondary-hue), 40%, 95%);
}
.table.ac-table.is-bordered thead tr th:first-child {
  border-left: 1px solid transparent;
}
.table.ac-table.is-bordered thead tr th:last-child {
  border-right: 1px solid transparent;
}
.table.ac-table.is-bordered tbody tr:hover {
  box-shadow: none;
}
.table.ac-table.is-bordered tbody tr td {
  font-size: 13px;
  color: hsl(var(--secondary-hue), 10%, 35%);
  background-color: transparent;
  border-bottom: 1px solid hsl(var(--secondary-hue), 40%, 95%);
  border-right: 1px solid hsl(var(--secondary-hue), 40%, 95%);
}
.table.ac-table.is-bordered tbody tr td:last-child {
  border-right: 1px solid transparent;
}
.table.ac-table.is-bordered tbody tr td:first-child {
  border-left: 1px solid transparent;
}
.table.ac-table.is-bordered tbody tr td:first-child {
  color: hsl(var(--secondary-hue), 10%, 10%);
  border-radius: 0;
}
.table.ac-table.is-bordered tbody tr td:last-child {
  border-radius: 0;
}

.table.ac-table tbody tr:hover td a:not(.tag a) {
  text-decoration: underline;
  color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
}

@keyframes expand {
  from {
    max-height: 0;
    overflow-y: hidden;
  }
  1% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  to {
    max-height: 60vh;
    overflow-y: overlay;
  }
}
@keyframes collapse {
  from {
    max-height: 60vh;
    overflow-y: overlay;
  }
  1% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  to {
    max-height: 0;
    overflow-y: hidden;
  }
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .brand-logo {
  display: none !important;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .sidebar-header {
  justify-content: center;
  padding: 10px;
}
.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper .sidebar-header .hamburger-icon {
  margin-right: 0 !important;
}

.sidebar-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  display: flex;
  padding: 8px 20px;
  align-items: center;
}
.sidebar-header .hamburger-icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.sidebar-header .hamburger-icon::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.sidebar-header .hamburger-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
.sidebar-header .brand-logo {
  display: flex;
  align-items: center;
}
.sidebar-header .brand-logo img {
  max-height: 30px;
}

.ac-left-sidebar .menu-list.ac-menu-list {
  height: calc(100vh - 74px);
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar-footer .back-button {
  cursor: pointer;
}

.ac-system-body {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 250px calc(100% - 250px);
  padding-top: 50px;
  transition: 0.3s ease-in-out;
}
.ac-system-body.sidebar-collapsed {
  grid-template-columns: 60px calc(100% - 60px);
}
.ac-system-body.is-fullwidth {
  grid-template-columns: auto !important;
}

body:has(.sidebar-collapsed) .ac-navbar-area.is-full .ac-navbar {
  grid-template-columns: 300px auto auto;
}
body:has(.sidebar-collapsed) .ac-navbar-area.is-full .ac-navbar .ac-navbar-brand {
  padding-left: 76px !important;
}

.kube-bind-form .icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  height: auto;
  background-color: #EDF5FD;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.kube-bind-form .icon img {
  width: 24px;
  height: auto;
}
.kube-bind-form td {
  vertical-align: middle;
}
.kube-bind-form td .icon {
  width: 36px;
  height: 36px;
  margin-bottom: 0;
}
.kube-bind-form td .icon img {
  width: 18px;
  height: auto;
}

ul {
  margin-bottom: 8px;
}

.kube-bind-inner input[type=checkbox]:checked + label.single-card {
  border: 2px solid #4D4DCB;
}

.kube-bind-inner input[type=checkbox]:disabled + label.single-card {
  cursor: not-allowed;
  opacity: 0.6;
}

.single-card {
  cursor: pointer;
  border: 1px solid #e7e7e7;
  transition: 0.3s ease-in-out;
  display: block;
  padding: 16px;
  border-radius: 4px;
}

.single-card:hover {
  border: 1px solid #e7e7e7;
}

/*# sourceMappingURL=pkg/template/static/assets/styles/main.css.map */