
@charset "utf-8";
// customize bulma css
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/colors";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/customize-bulma";

// Third party CSS
@import "../../../../../node_modules/bulma/bulma.sass";


// BASE
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/base/utilities/all";


// COMPONENTS
// @import "@/components/vue-components/styles/components/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/button";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/navbar/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/sidebar/all";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/header/header";
@import "../../../../../node_modules/@appscode/design-system/vue-components/styles/components/header/header-item";

.sidebar-collapsed:not(.is-hoverable) .ac-left-sidebar-wrapper {
    .brand-logo {
      display: none !important;
    }
  
    .sidebar-header {
      justify-content: center;
      padding: 10px;
  
      .hamburger-icon {
        margin-right: 0 !important;
      }
    }
  }
  
  .sidebar-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    display: flex;
    // justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
  
    .hamburger-icon {
      cursor: pointer;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
  
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
      }
  
      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  
    .brand-logo {
      display: flex;
      align-items: center;
  
      img {
        max-height: 30px;
      }
    }
  }

.ac-left-sidebar {
    .menu-list.ac-menu-list {
        height: calc(100vh - 74px);
    }
}

.sidebar-footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    .back-button {
        cursor: pointer;
    }
}

  // default layout css
.ac-system-body {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 250px calc(100% - 250px);
    padding-top: 50px;
    transition: 0.3s ease-in-out;
  
    &.is-fullwidth {
      grid-template-columns: auto !important;
    }
  }
  // sidebar collapsed
  .sidebar-collapsed {
    .ac-system-body {
      grid-template-columns: 60px calc(100% - 60px);
    }
  }

