:root {
    /* root */
    // primary 
    --primary-hue: 149;
    --primary-saturation: 100%;
    --primary-light: 30%;

    // secondary
    --secondary-hue: 196;
    --secondary-saturation: 50%;
    --secondary-light: 20%;

    // solid color 
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;

    // Box Shadow
    --shadow-sm: 0 1px 4px rgba(26, 80, 151, 0.16);
    --shadow-lg: 0 3px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 3px -2px rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    --shadow-xl: 0px 8px 57px rgba(0, 0, 0, 0.16);
}